body,div,a,img,p,form,h1,h2,h3,h4,h5,h6,input,textarea,ul,li,dt,dd,dl{margin:0;padding:0;}
#Logo,#Nav,#Banner,#Content,#Footer{width:900px; margin:0 auto;}
#Nav{
height:30px;
background:#4682B4;
text-align:center;
background:#68acd3;
padding: 10px 0;
font-size:22px;
font-family:Arial, Helvetica, sans-serif;
color:#fff;
line-height:30px;
}
#Banner{
height:700px;
background:#d3e7f2;
}
#Footer{
text-align:left;
background:#68acd3;
padding: 10px 0;
font-size:15px;
font-family:Arial, Helvetica, sans-serif;
color:#fff;
line-height:15px;
}